In [162]:
import numpy as np
import pandas as pd
from sklearn.datasets import make_blobs, make_gaussian_quantiles
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
from sklearn.model_selection import cross_val_score
import matplotlib.pyplot as plt

In [163]:
pho = pd.read_csv("phoneme.csv")

In [164]:
pho.head(n=10)

      Aa     Ao    Dcl     Iy     Sh  class
0  1.240  0.875 -0.205 -0.078  0.067      0
1  0.268  1.352  1.035 -0.332  0.217      0
2  1.567  0.867  1.300  1.041  0.559      0
3  0.279  0.990  2.555 -0.738  0.000      0
4  0.307  1.272  2.656 -0.946 -0.467      0
5  0.960  0.712 -0.143  0.091 -0.061      0
6  2.941  0.657  1.493 -0.331 -0.123      0
7  0.401  1.159  2.064 -0.690 -0.308      0
8  0.229  1.748  0.634  0.259  0.000      0
9  0.303  0.609  0.474  1.427 -0.811      1

In [165]:
pho.describe()

,Aa,Ao,Dcl,Iy,Sh,class
count,5404.000000,5404.000000,5404.000000,5404.000000,5404.000000,5404.000000
mean,0.818957,1.258802,0.764732,0.398743,0.078619,0.293486
std,0.858733,0.851057,0.925436,0.796531,0.575624,0.455401
min,-1.700000,-1.327000,-1.823000,-1.581000,-1.284000,0.000000
25%,0.243750,0.596000,-0.115000,-0.205000,-0.232250,0.000000
50%,0.492500,1.075500,0.729000,0.285500,-0.044000,0.000000
75%,1.089250,1.866250,1.484000,0.937000,0.196250,1.000000
max,4.107000,4.378000,3.199000,2.826000,2.719000,1.000000

In [187]:
X = np.array(pho).reshape(-1, 1)
y = np.array(pho['class']).reshape(-1, 1)

In [188]:
print(pho.shape)
print(X)

(5404, 6)
[[ 1.24 ]
 [ 0.875]
 [-0.205]
 ...
 [ 0.972]
 [-0.63 ]
 [ 1.   ]]

In [168]:
# Normalize
scaler = MinMaxScaler()
scaler.fit(X)
X_scaled = scaler.transform(X)
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.3, random_state=42)

In [169]:
pho.plot

In [170]:
clf = SVC(C=10,gamma=100,kernel='rbf')
clf.fit(X_train, y_train)

C:\Users\Owner\python\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVC(C=10, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma=100, kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [171]:
# predict label
y_pred = clf.predict(X_test)

In [172]:
confusion_matrix(y_test, y_pred)

array([[968, 186],
       [196, 272]], dtype=int64)

In [173]:
acc = accuracy_score(y_test, y_pred)
print('Accuracy =', acc)

Accuracy = 0.7644882860665845

In [174]:
report = classification_report(y_test, y_pred)
print(report)

              precision    recall  f1-score   support

           0       0.83      0.84      0.84      1154
           1       0.59      0.58      0.59       468

   micro avg       0.76      0.76      0.76      1622
   macro avg       0.71      0.71      0.71      1622
weighted avg       0.76      0.76      0.76      1622

In [190]:
plt.figure(dpi=100)
plt.scatter(X[:,0],X[:,1],  c=y, zorder=10, cmap=plt.cm.Paired, edgecolor='k', s=20)
# Circle out the test data
plt.scatter(X_test[:,0], X_test[:,1], s=80, facecolors='none', zorder=10, edgecolor='k')

IndexError: index 1 is out of bounds for axis 1 with size 1

In [ ]:
plt.figure(dpi=100)
plt.scatter(X[:, 0], X[:, 1], c=y, zorder=10, cmap=plt.cm.Paired, edgecolor='k', s=20)
# Circle out the test data
plt.scatter(X_test[:, 0], X_test[:, 1], s=80, facecolors='none', zorder=10, edgecolor='k')

plt.axis('tight')
x_min = X[:, 0].min()
x_max = X[:, 0].max()
y_min = X[:, 1].min()
y_max = X[:, 1].max()

XX, YY = np.mgrid[x_min:x_max:200j, y_min:y_max:200j]
Z = clf.decision_function(np.c_[XX.ravel(), YY.ravel()])
Z = Z.reshape(XX.shape)

plt.pcolormesh(XX, YY, Z > 0, cmap=plt.cm.Paired)
plt.contour(XX, YY, Z, colors=['k', 'k', 'k'],
                linestyles=['--', '-', '--'], levels=[-.5, 0, .5])