In [1]:
import pandas as pd
import numpy as np

In [3]:
import os
path = os.getcwd()
print(path)

C:\home\program\scraping

In [48]:
SPORT = pd.read_csv('b2015_ksmj.csv', header=2,encoding='shift_jis')

In [49]:
sport = SPORT[SPORT.品目名称 == '　　　　プロスポーツ興行']

In [50]:
sport = sport.T
sport = sport.rename(columns={237: 'プロスポーツ興行'})
sport = sport.drop(['品目番号','ウエイト','品目名称'])
sport.index = pd.to_datetime(sport.index, format='%Y%m')
sport['プロスポーツ興行'] = sport['プロスポーツ興行'].astype(int)
sport = sport.resample('D').interpolate()

In [57]:
sport

              プロスポーツ興行
2013-01-01   92.000000
2013-01-02   91.677419
2013-01-03   91.354839
2013-01-04   91.032258
2013-01-05   90.709677
...                ...
2020-09-27   93.666667
2020-09-28   96.000000
2020-09-29   98.333333
2020-09-30  100.666667
2020-10-01  103.000000

[2831 rows x 1 columns]

In [58]:
sport.to_csv("sport2013-2020.csv")